@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Bona+Nova&family=Cabin&family=Inter&family=Nunito+Sans:opsz,wght@6..12,500&family=Pacifico&family=Roboto+Slab&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
  /* font-family: "Nunito Sans", sans-serif; */
}

#modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

#modal > div {
  background-color: white;
  max-width: 500px;
  padding: 15px;
  border-radius: 30px;
}
